#menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}

#m{
	float: left;
}

#m a{
	display: block;
	text-align: center;
	padding: 16px;
	color: magenta;
}

#m a:hover{
	background-color: #333333;
	color: green;
}

#m{
	float: left;
}

#p1{
	color: red;
	text-align: left;
}

#p2{
	color: blue;
	text-align: left;
	font-family: comic sans ms;
	font-size; 18px;
}

#p3{
	color: gray;
	text-align: left;
	font-family: papyrus;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: magenta;
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

ul {
	list-style-type: circle;
}

div.cities{
	background-color: gray;
	color: blue;
	margin: 10px 0 10px 0;
	padding: 10px;
}

span.note{
	font-size: 120%;
	color: green;
}